<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ant Game</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand">AntGame</span>
				<ul class="nav ag-menu">
					<li><a href="./tutorial.html">How to Play</a></li>
				</ul>
			</div>
		</div>
	</div>


	<!-- MAIN MENU DEF -->
	<div class="ag-menu container">
		<div class="row">
			<div class="span12 welcome">
				<div class="row">
					<div class="span4">
						<div class="screenshot">
							&nbsp;
						</div>
					</div>
					<div class="span8">
						<h1>
							Hello, This is AntGame.
						</h1>
						<p>
							Two teams of ants, black vs red, compete in a bid to gather the most food from a treacherous terrain. Influence the behaviour of your ants by designing a brain which controls how they navigate, what they look for, and how they communicate with each other.
						</p>
						<div class="row">
							<div class="span4">
								<p>
									<a class="btn btn-primary btn-large" id="ag-btn-singleMatch">
										Single Match &raquo;
									</a>
								</p>
								<p>
									Two brains, one world, one winner.
								</p>
							</div>
							<div class="span4">
								<p><a class="btn btn-primary btn-large" id="ag-btn-contest">Contest &raquo;</a></p>
								<p>
									Many brains, many worlds, contest rules, rankings.
								</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
		<ul class="breadcrumb">
			<li class="active">Main Menu</li>
		</ul>
	</div>
	<!-- END MAIN MENU DEF -->


	<div class="ag-singleMatch container">
		<div class="row">
			<div class="span12 welcome">
				stuff

			</div>
		</div>
		<ul class="breadcrumb">
			<li>
				<a href="#" class="ag-btn-menu">Main Menu</a>
				<span class="divider">/</span>
			</li>
			<li class="active">
				Single Match 
			</li>
		</ul>
	</div>




	<div id="contestSetup">
	</div>
	<div id="game">
	</div>
	<div id="makeRandomWorld">
	</div>
	<div id="loadBrain">
	</div>
	<div id="loadWorld">
	</div>

	<div class="modal" id="ag-error">
		<div class="modal-header">
			<button class="close" data-dismiss="modal">×</button>
			<h3 id="ag-error-header"></h3>
		</div>
		<div class="modal-body" id="ag-error-body">
		</div>
	</div>

	<script type="text/javascript" src="./js/jquery1.7.2.min.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="./bootstrap/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="./js/model.js"></script>
	<script type="text/javascript" src="./js/view.js"></script>
</body>
</html>