<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Ant Game</title>
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="./style.css" />
	<script type="text/javascript">
	var loadedSomeMore = (function () {
		var loaded = 0;
		var numItemsToLoad = 7;
		var barWidth = 100;
		return function () {
			loaded++;
			document.getElementById("loading-bar-inner").style.width = barWidth*Math.min(Math.floor(loaded/numItemsToLoad),1) + "px";
		};
	})();
	</script>
</head>

<body>
	<div id="loading-bg">
		<p>loading...</p>
		<div id="loading-bar-outer"><div id="loading-bar-inner"></div></div>
	</div>
	

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class="brand">AntGame</span>
				<ul class="nav ag-menu ag-singleMatch ag-Contest">
					<li><a href="./tutorial.html">How to Play</a></li>
				</ul>
			</div>
		</div>
	</div>


	<!-- MAIN MENU DEF -->
	<div class="ag-root container">
		<div class="row">
			<div class="span12 welcome">
				<div class="row">
					<div class="span4">
						<div class="screenshot"></div>
					</div>
					<div class="span8">
						<h1>
							Hello. Yes this is AntGame.
						</h1>
						<p>
							Two teams of ants, black vs red, compete in a bid to gather the most food from a treacherous terrain. Influence the behaviour of your ants by designing a brain which controls how they navigate, what they look for, and how they communicate with each other.
						</p>
						<div class="row">
							<div class="span4">
								<p>
									<a class="btn btn-primary btn-large ag-btn-sm">
										Single Match &raquo;
									</a>
								</p>
								<p>
									Two brains, one world, one winner.
								</p>
							</div>
							<div class="span4">
								<p><a class="btn btn-primary btn-large ag-btn-contest">Contest &raquo;</a></p>
								<p>
									Many brains, many worlds, contest rules, rankings.
								</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	<!-- END MAIN MENU DEF -->


	<!-- SINGLE MATCH MENU DEF -->
	<div class="ag-sm container">
		<div class="row">
			<div class="span12 welcome">
				<div class="row">
					<div class="span4">
						<div class="leftmost">
							<h2>
								<img src="./img/redant.png"/>
								Red Brain
							</h2>
							<div class="well">
								<a class="btn btn-primary pull-right" href="#" id="ag-sm-pick-red">Pick &raquo;</a>
								<h3 class="ag-sm-name" id="ag-sm-red-name">Stupid Brain</h3>
							</div>
						</div>
					</div>
					<div class="span4">
						<h2>
							<img src="./img/blackant.png"/>
							Black Brain
						</h2>
						<div class="well">
							<a class="btn btn-primary pull-right" href="#" id="ag-sm-pick-black">Pick &raquo;</a>
							<h3 class="ag-sm-name" id="ag-sm-black-name">Stupid Brain</h3>
						</div>
					</div>
					<div class="span4">
						<div class="rightmost">
							<h2>
								<img src="./img/hexagon.png"/>
								World
							</h2>
							<div class="well">
								<a class="btn btn-primary pull-right" href="#">Pick &raquo;</a>
								<h3 class="ag-sm-name" id="ag-sm-world-name">Random</h3>
							</div>
						</div>
					</div>
				</div>
				<hr class="leftmost rightmost"/>
				<div class="row">
					<div class="span2">
						<h3 class="leftmost">
							<img src="./img/cog.png"/>
							Settings
						</h3>
					</div>
					<div class="span6">
						<form class="form-inline">
							Run for&nbsp;&nbsp;
							<input type="text" class="input-mini" value="300000" id="ag-sm-rounds"/>
							&nbsp;&nbsp;rounds&nbsp;&nbsp;
							<a class="btn btn-warning ag-vis-toggle" href="#">with</a>
							&nbsp;&nbsp;visualisation
						</form>
					</div>
					<div class="span4">
						<a class="btn btn-success pull-right rightmost" href="#">Compile &raquo;</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SINGLE MATCH MENU DEF -->

	<!-- SINGLE MATCH PICK BRAIN DEF -->
	<div class="ag-sm-pick-brain container">
		<div class="row">
			<div class="span12 welcome">
				<div class="row">
					<div class="span6">
						<div class="leftmost">
							<h2 class="pull-left">
								Available Brains&nbsp;&nbsp;
							</h2>
							<a class="btn btn-primary pull-right">
								add 
								<i class="icon-plus-sign icon-white"></i>
							</a>
						</div>
					</div>

					<div class="span6">
						<div class="rightmost">
							<h2>
								<span id="ag-sm-selected-brain-name">
								</span>
								&nbsp;Source Code
							</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="leftmost well" style="padding: 8px 0;">
							<ul class="nav nav-list" id="sm-brain-list">
						
							</ul>
						</div>
					</div>

					<div class="span6">
						<div class="rightmost">
							<h2>
								<span id="ag-sm-selected-brain-name">
								</span>
								&nbsp;Source Code
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END SINGLE MATCH PICK BRAIN DEF -->


	<div id="contestSetup">
	</div>
	<div id="game">
	</div>
	<div id="makeRandomWorld">
	</div>
	<div id="loadBrain">
	</div>

	<!-- breadcrumbs everywhere, all up in my face -->
	<div class="container">
		<ul class="breadcrumb">
			<li class="ag-root-bc">
				<a href="#" class="ag-btn-root">Main Menu</a>
				<span class="divider">/</span>
			</li>
			<li class="active ag-root">
				Main Menu
			</li>
			<li class="ag-sm-bc">
				<a href="#" class="ag-btn-sm">Single Match</a>
				<span class="divider">/</span>
			</li>
			<li class="active ag-sm">
				Single Match
			</li>
			<li class="active ag-sm-pick-brain">
				Pick Brain
			</li>
		</ul>
	</div>


	<script type="text/javascript">loadedSomeMore();</script>



	<!-- LOAD JAVASCRIPT STUFFS -->
	<script type="text/javascript" src="./js/jquery1.7.2.min.js"></script>
	<script type="text/javascript">loadedSomeMore();</script>

	<script type="text/javascript" src="./bootstrap/js/bootstrap-modal.js"></script>
	<script type="text/javascript">loadedSomeMore();</script>

	<script type="text/javascript" src="./bootstrap/js/bootstrap-button.js"></script>
	<script type="text/javascript">loadedSomeMore();</script>

	<script type="text/javascript" src="./js/model.js"></script>
	<script type="text/javascript">loadedSomeMore();</script>

	<script type="text/javascript" src="./js/view.js"></script>
	<script type="text/javascript">loadedSomeMore();</script>

	<script type="text/javascript" src="./js/controller.js"></script>
	<script type="text/javascript">loadedSomeMore();</script>
	
</body>
</html>